<div class="center-page-content">
    <div class="page-content-width" style="display: block">
      <div class="row">
        <div class="mb-md col-xs-12 col-sm-8">
          <h2 style="line-height: 56px">Create a User</h2>
          <p>Users with admin role will be able to edit quizzes. Teachers will be able to see answers and questions. Students will only be able to take a test.</p>
        </div>
      </div>
		  <div class="card card-padding">
        <form [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()" autocomplete="off">
          <!-- User inputs -->
          <div class="inputs">
            <div class="row">
              <mat-form-field class="col-12 col-sm-6 col-md-4" appearance="standard">
                <input
                  required
                  matInput
                  formControlName="userName"
                  placeholder="First and last name"
                  autocomplete="off"
                  id="registerUsername"
                />
              </mat-form-field>
            </div>
            <div class="row mt-lg">
              <mat-form-field class="col-12 col-sm-6 col-md-4" appearance="standard">
                <input
                  required
                  matInput
                  formControlName="email"
                  placeholder="Email address"
                  autocomplete="off"
                  id="registerEmail"
                />
              </mat-form-field>
            </div>
            <div class="row mt-lg">
              <mat-form-field class="col-12 col-sm-6 col-md-4" appearance="standard">
                <input 
                  required
                  matInput
                  formControlName="password"
                  placeholder="Password"
                  autocomplete="off"
                  id="registerPassword"
                />
              </mat-form-field>
            </div>
             <!-- User roles -->
				    <b class="row mt-xl mb-sm text-color">Roles</b>
				    <mat-radio-group class="roles" formControlName="role" [(ngModel)]="radio" aria-label="Select an option">
					    <mat-radio-button class="radio-button" [value]="'Administrator'">Administrator</mat-radio-button>
					    <mat-radio-button class="radio-button" [value]="'Teacher'">Teacher</mat-radio-button>
              <mat-radio-button class="radio-button" [value]="'Student'">Student</mat-radio-button>
				    </mat-radio-group>
          </div>
          
          <!-- Buttons -->
				<div class="p-sm pr-md">
					<!-- <button class="outline-icon-button mr-md" [routerLink]="'/locations'" id="cancelButton">
						<mat-icon matPrefix class="mr-sm" id="cancelIcon"> keyboard_backspace </mat-icon>
						<span>Cancel</span>
					</button> -->
					<app-button 
            [input]="'Add a user'"
            [disabled]="isDisabled(!form.controls.userName?.value || !form.controls.email?.value || !form.controls.password?.value)"
						(click)="onSubmit()"
						type="button"
						(keydown.enter)="onSubmit()"
					>
					</app-button>
				</div>
        </form>
      </div>
    </div>
</div>
