<div *ngIf="isLoggedIn()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <div class="breadcrumbs" breadcrumbs_input>
            <app-breadcrumbs></app-breadcrumbs>
        </div> -->
        <div><a class="nav-link" [routerLink]="['']" routerLinkActive="Manager"><p id="logo">WebbiSkools</p></a></div>
        <ul class="navbar-items" navbar-items>
            <div class="right-side">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['']"><i class="fas fa-user-shield"></i>Quizzes</a>
                </li>
                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" [routerLink]="['user-menager']"><i class="fas fa-user-cog"></i>User Manager</a>
                </li>
                <app-username-initials [name]="userName()" class="dropdown"></app-username-initials>
                <div class="dropdown-content">
                    <a href="/login">Log out</a>
                </div>
            </div>
        </ul>
        
    </nav>
</div>

 
