
.dot {
    height: 35px;
    width: 35px;
    background-color: transparent !important;
    border-radius: 50%;
    border: 0.2px solid black;
    display: inline-block; 
}
.number {
    position: absolute;
    top: 28px;
    right: 38px;
    color: black;
}
.justify-space-end {
    display: flex;
    flex-direction: row;
    justify-content:end;
    margin-bottom: 14px;
}
.margin-top {
    margin-top: 36px;
}
b {
    font-size: 14px;
}
.row-center {
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
}
.button {
    margin-top: 42px;
}
.answer-row {
    display: flex;
	flex-direction: row;
}
.answer-column {
    display: flex;
	flex-direction: column;
    width: 300px !important;
}
.space-between {
    justify-content: space-around;
}
.label {
    margin-right: 14px;
}
.astext {
    width: 120px;
    background:none;
    border:none;
    margin-right: 21px;
    margin-top: 5px;
    padding:0;
    cursor: pointer;
    font-size: 14px;
    color: #FFD229;
}
.astext:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
.justify-space-around h2 {
    width: 300px;
}