<div class="center-page-content">
    <div class="page-content-width" style="display: block">
        <div class="row">
            <div class="mb-md col-xs-12 col-sm-8">
                <h2 style="line-height: 56px">Question</h2>
            </div>
        </div>
    <div class="card card-padding">
        <div class="row justify-end">
            <span class="dot"><span class="number">1</span></span>
        </div>
        <div class="row row-center">
            <div class="mb-md col-xs-12 col-sm-8 row-center">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</h3>
            </div>
            <div class="mb-md col-xs-12 col-sm-8 row-center margin-top">
                <b class="row mt-xl mb-sm text-color">Answers</b>
            </div>
            <div class="mb-md col-xs-12 col-sm-8 row-center">
                <mat-radio-group class="answers" formControlName="answer" aria-label="Select an option">              
                    <mat-radio-button class="radio-button" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mat-radio-button>
                    <mat-radio-button class="radio-button">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mat-radio-button>
                    <mat-radio-button class="radio-button">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mat-radio-button>
                    <mat-radio-button class="radio-button">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
</div>