<div class="center-page-content">
    <div class="page-content-width" style="display: block">
      <div class="row">
        <div class="mb-md col-xs-12 col-sm-8">
          <h2 style="line-height: 56px">Edit Quiz</h2>
          <p>Amend changes to your quiz. Add some questions!</p>
        </div>
        <div *ngIf="isAdmin()" class="mt-xl col-xs-12 col-sm-4 float-right">
            <app-button
                [input]="'Add a question'"
                type="button"
                routerLink="/add-question"
            ></app-button>
        </div>
      </div>
	    <div class="card card-padding">
        <form [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()" autocomplete="off">
            <!-- User inputs -->
            <div class="inputs">
                <div class="row">
                    <mat-form-field class="col-12 col-sm-6 col-md-4" appearance="standard">
                      <input
                        required
                        matInput
                        formControlName="title"
                        placeholder="Title"
                        autocomplete="off"
                        id="title"
                      />
                    </mat-form-field>
                </div>
                <div class="row mt-lg">
                    <mat-form-field class="col-12 col-sm-6 col-md-4" appearance="standard">
                        <textarea
                            required
                            matInput
                            formControlName="description"
                            placeholder="Describe the quiz"
                            autocomplete="off"
                            id="description"
                        ></textarea>
                    </mat-form-field>
                </div>
                <div class="row mt-lg">
                    <mat-form-field class="col-12 col-sm-6 col-md-4" appearance="standard">
                        <input 
                        required
                        matInput
                        formControlName="category"
                        placeholder="Category"
                        autocomplete="off"
                        id="category"
                        />
                    </mat-form-field>
                </div>
            </div>
            <!-- Buttons -->
            <div class="p-sm pr-md">
              <app-button 
                  [input]="'Update'"
                  [disabled]="isDisabled(!form.touched || !form.controls.title?.value || !form.controls.description?.value || !form.controls.category?.value)"
                  (click)="onSubmit()"
                  type="button"
                  (keydown.enter)="onSubmit()"
              >
              </app-button>
          </div>
        </form>
      </div>
    </div>
</div>