button {
    display: block;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
    border: 0.3px solid black;
    width: 100%;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    
}
button:hover:not(:disabled){
    background-color:#3860FF;
    color: #fff;
}
.dot {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background-color: #fff !important;
    border-radius: 50%;
    border: 0.3px solid black;
    display: inline-block; 
}
.text {
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    padding-top: 3px;
}
.container-span {
    display: inline-flex;
    float: left;
    padding: 5px 20px 5px 0px; 
   
}