<div class="center-page-content">
    <div class="page-content-width" style="display: block">
        <div class="row">
            <div class="mb-md col-xs-12 col-sm-8">
                <h2>Users</h2>
                <p>Add users that you want to have access to manage your quizzes portal.</p>
            </div>
            <div class="mt-xl col-xs-12 col-sm-4 float-right">
                <app-button
                    [input]="'Add a user'"
                    type="button"
                    routerLink="/user-menager/register"
                ></app-button>
            </div>
        </div>
		  
		  <div class="card card-padding">
          </div>
    </div>
</div>