.yellow {
    color: #FFD229;
}
.astext {
    margin-right: 36px;
    background:none;
    border:none;
    height: 34px;
    padding:0;
    cursor: pointer;
    font-size: 14px;
    color: #FFD229;
}
.astext:hover {
    transform: scale(1.05);
    opacity: 0.8;
}