html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: #5a5a5a;
	line-height: 20px;
}
h1 {
	font-size: 24px;
	font-weight: 500;
	color: #5a5a5a;
	line-height: 32px;
}
h2 {
	font-size: 20px !important;
	font-weight: 400 !important;
	color: #5a5a5a !important;
	line-height: 26px !important;
}
p {
	color: #5a5a5a !important;
	margin-bottom: 16px !important;
	opacity: 0.8 !important;
	font-size: 14px !important;
}
* {
	font-family: Roboto, sans-serif;
}
.text-color,
h3,
h4,
h5,
h6 {
	color: #444444;
}

.page .page-content {
	overflow: auto !important;
}
.center-page-content {
	display: flex;
	justify-content: center;
}
.page-content-width {
	width: 1150px;
}
.page-content-width-quarter {
	width: 287.5px;
}
.card-padding {
	padding: 24px !important;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
/* 
  Mat form field custom configuration */




h3 {
	font-size: 16px;
	font-weight: 500;
	color: #5a5a5a;
	line-height: 23px;
}

h4 {
	font-size: 16px;
	font-weight: 400;
	color: #5a5a5a;
	line-height: 23px;
}

a {
	text-decoration: none;
	color: #00659a;
}

.text-disabled {
	color: #b0b0b0;
}

.caption {
	font-size: 12px;
	color: #3f3f3f;
}
.float-right {
	display: flex;
	justify-content: end;
}