.inputs {
    margin-top: 8px !important;
    margin-bottom: 24px !important;
}
.mat-input-element {
    border-bottom: 1px solid #444444;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.mat-form-field {
	line-height: 2.6 !important;
}
.answer-row {
    display: flex;
	flex-direction: row;
}
.answer-column {
    display: flex;
	flex-direction: column;
    width: 300px !important;
}
.space-between {
    justify-content: space-around;
}
.label {
    margin-right: 14px;
}
b {
    font-size: 14px;
}
.row-center {
    margin-top: 36px;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
}
.button {
    margin-top: 42px;
}