<div class="center-page-content">
    <div class="page-content-width" style="display: block">
      <div class="row">
        <div class="mb-md col-xs-12 col-sm-8">
          <h2 style="line-height: 56px">Edit question</h2>
          <p>For each question you must provide four possible answers.</p>
        </div>
      </div>
	  <div class="card card-padding">
        <form [formGroup]="form" (keydown.enter)="$event.preventDefault()" autocomplete="off">
            <!-- User inputs -->
            <div class="inputs">
                <div class="row mt-lg">
                    <mat-form-field class="col-12 col-sm-6 col-md-4" appearance="standard">
                        <textarea
                            required
                            matInput
                            formControlName="question"
                            placeholder="Question"
                            autocomplete="off"
                            id="question"
                        ></textarea>
                    </mat-form-field>
                </div>
                <!-- Answers -->
                <div class="row-center margin-top">
                    <b class="row mt-xl mb-sm text-color">Answers</b>
                </div>
                <div class="answer-row space-between">
                    <div class="answer-column">
                        <mat-form-field class="col-12 col-sm-12 col-md-12" appearance="standard">
                            <div class="answer-row">
                                <label for="answerAText" class="label">a)</label>
                                <input 
                                required
                                matInput
                                formControlName="answerAText"
                                placeholder="Answer A"
                                autocomplete="off"
                                id="answerAText"
                                />
                            </div>
                        </mat-form-field>                   
                        <mat-form-field class="col-12 col-sm-12 col-md-12" appearance="standard">
                            <div class="answer-row">
                                <label for="answerBText" class="label">b)</label>
                                <input 
                                required
                                matInput
                                formControlName="answerBText"
                                placeholder="Answer B"
                                autocomplete="off"
                                id="answerBText"
                                />
                            </div>
                        </mat-form-field>                                                          
                    </div>
                    <div class="answer-column">
                        <mat-form-field class="col-12 col-sm-12 col-md-12" appearance="standard">
                            <div class="answer-row">
                                <label for="answerCText" class="label">c)</label>
                                <input 
                                required
                                matInput
                                formControlName="answerCText"
                                placeholder="Answer C"
                                autocomplete="off"
                                id="answerCText"
                                />
                            </div>
                        </mat-form-field>                   
                        <mat-form-field class="col-12 col-sm-12 col-md-12" appearance="standard">
                            <div class="answer-row">
                                <label for="answerDText" class="label">d)</label>
                                <input 
                                required
                                matInput
                                formControlName="answerDText"
                                placeholder="Answer D"
                                autocomplete="off"
                                id="answerDText"
                                />
                            </div>
                        </mat-form-field>                                                          
                    </div>
                </div>
                <!-- Correct Answer -->
                <div class="row-center margin-top">
                    <b class="row mt-xl mb-sm text-color">Mark the correct answer</b>
                </div>
                <div class="answer-row space-between">
                    <div>
                        <label for="answerA" class="label">a)</label>
                        <input id="answerA" type="radio" value="answerA" name="answers" formControlName="answers">   
                     </div>
                     <div>
                        <label for="answerB" class="label">b)</label>
                        <input id="answerB" type="radio" value="answerB" name="answers" formControlName="answers">
                    </div>
                    <div>
                        <label for="answerC" class="label">c)</label>
                        <input id="answerC" type="radio" value="answerC" name="answers" formControlName="answers">   
                     </div>
                     <div>
                        <label for="answerD" class="label">d)</label>
                        <input id="answerD" type="radio" value="answerD" name="answers" formControlName="answers">
                    </div>
                </div>
                
                  
            </div>
            <!-- Buttons -->
            <div class="p-sm pr-md button">
                <app-button 
                    [input]="'Add a question'"
                    [disabled]="isDisabled(!form.controls.question?.value || !form.controls.answerBText?.value || !form.controls.answerAText?.value || !form.controls.answers?.value || !form.controls.answerCText?.value || !form.controls.answerDText?.value)"
                    (click)="onSubmit()"
                    type="button"
                    (keydown.enter)="onSubmit()"
                >
                </app-button>
            </div>
        </form>
      </div>
    </div>
</div>
